.outer-square {
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.inner-square {
  margin: 10px;
  background-color: green;
}
.circle {
  margin: 10px;
  background-color: blue;
  border-radius: 50%;
}
